.cssbk{
    position:relative;
    width:100%;
}

.cssbk input{
    display:none;
}

.cssbk input~span{
    transition:1.5s;
    -webkit-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
    background-color: white;
}

.cssbk input+span{
    left:50%;transform-origin:left;
    transform:perspective(1500px) rotateY(0deg);
}

.cssbk input+span+span{
    right:50%;transform-origin:right;
    transform:perspective(1500px) rotateY(180deg);
}

.cssbk input:checked+span{
    transform:perspective(1500px) rotateY(-180deg);
}

.cssbk input:checked+span+span{
    transform:perspective(1500px) rotateY(0deg);
}